<div class="wrap">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="icon_avatar">
                <mat-icon>{{cardHead.icon}}</mat-icon>
            </div>
            <mat-card-title>{{cardHead.title}}</mat-card-title>
            <mat-card-subtitle>{{cardHead.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="mapImg">
                <img src="../../assets/mental_map.jpg">
            </div>
            <div class="actionButton">
                <form action="../../assets/mental_map.jpg" method="get"
                    target="_blank">
                    <button mat-stroked-button type="submit">
                        <span class="material-icons">
                            visibility
                        </span>
                        ver detalle
                    </button>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>
