<div class="wrap">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="icon_avatar">
                <mat-icon>{{cardHead.icon}}</mat-icon>
            </div>
            <mat-card-title>{{cardHead.title}}</mat-card-title>
            <mat-card-subtitle>{{cardHead.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="sectionSubtitle">Video de apoyo</div>
            <p>Aquí podra ver algunos el video de una reunion donde se explica el manejo de recetas y buenas practicas.
            </p>
            <div class="videoContent">
                <iframe src="https://www.youtube.com/embed/POuA3bIKCpI"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </mat-card-content>
    </mat-card>
</div>