<div class="wrap">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="icon_avatar">
                <mat-icon>{{cardHead.icon}}</mat-icon>
            </div>
            <mat-card-title>{{cardHead.title}}</mat-card-title>
            <mat-card-subtitle>{{cardHead.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="sectionSubtitle">Tipografía</div>
            <div class="sectionItemTitle">Museo Normal</div>
            <p>La tipografía definida para las plataformas LOGYCA es Museo </p>
            <p class="fontNormal">ABCDEFGHIJKLMNÑOPQRSTUVWXYZ</p>
            <p class="fontNormal">abcdefghijklmnñopqrstuvwxyz</p>
            <p class="fontNormal">1234567890°!"#$%&/()=?¡¨*][_:</p>
            <hr>
        </mat-card-content>
        <mat-card-content>
            
            <div class="sectionItemTitle">Museo Italic</div>
            <p class="fontItalic">ABCDEFGHIJKLMNÑOPQRSTUVWXYZ</p>
            <p class="fontItalic">abcdefghijklmnñopqrstuvwxyz</p>
            <p class="fontItalic">1234567890°!"#$%&/()=?¡¨*][_:</p>
            <hr>
        </mat-card-content>
        <mat-card-content>
            <div class="sectionItemTitle">Museo bold</div>
            <p class="fontBold">ABCDEFGHIJKLMNÑOPQRSTUVWXYZ</p>
            <p class="fontBold">abcdefghijklmnñopqrstuvwxyz</p>
            <p class="fontBold">1234567890°!"#$%&/()=?¡¨*][_:</p>
            <hr>
        </mat-card-content>
        <mat-card-content>
            <div class="note">
                <div class="note__title">
                    <div class="icon">
                        <mat-icon>tips_and_updates</mat-icon>
                    </div>
                    <div class="title">NOTA:</div>
                </div>
                <div class="note__content">
                    Es posible utilizar los atributos de CSS como font-weight, font-size, text-transform, etc, para dar estilos.
                </div>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="actionButton">
                <form action="../../assets/font/Museo.rar"
                    target="_blank">
                    <button mat-stroked-button type="submit">
                        <span class="material-icons">
                            file_download
                        </span>
                        Descargar fuente
                    </button>
                </form>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="sectionSubtitle">Iconografía</div>
            <p>La iconografía utilizada se basa en la sugerida por la Guia de material Desing, la cual utiliza la libreria de Google Fonts <a href="https://fonts.google.com/icons?selected=Material+Icons&icon.set=Material+Symbols" target="_blank">Google Fonts.</a></p>
            <img class="imgIcon" src="../../assets/exampleIcon.png">
        </mat-card-content>
    </mat-card>
</div>