<div class="wrap">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="icon_avatar">
                <mat-icon>{{cardHead.icon}}</mat-icon>
            </div>
            <mat-card-title>{{cardHead.title}}</mat-card-title>
            <mat-card-subtitle>{{cardHead.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="sectionSubtitle">1. Consistencia</div>
            <p>
                Diseñar “interfaces consistentes” significa utilizar los mismos patrones de diseño y las mismas
                secuencias de acciones para situaciones similares. Esto incluye, pero no se limita a, el uso
                correcto del color, la tipografía y la terminología en las pantallas de aviso, comandos y menús
                a lo largo del viaje de tu usuario.
            </p>
            <div class="sectionSubtitle">2. Atajos o navegación facil</div>
            <p>
                Hablando de utilizar las reglas de UI como accesos directos, tus usuarios también se
                beneficiarán de los accesos directos, especialmente si necesitan completar las mismas tareas con
                frecuencia.
            </p>
            <p>
                Los usuarios expertos pueden encontrar útiles las siguientes características:
            </p>

            <ul type="square">
                <li>AbreviaturasAbreviaturas</li>
                <li>Menu de navegación intuitivo y siempre disponible</li>
                <li>Teclas de función</li>
                <li>Comandos ocultos</li>
                <li>Macro facilities</li>
            </ul>

            <div class="sectionSubtitle">3. Comentarios informativos</div>
            <p>
                Necesitas mantener a tus usuarios informados de lo que está ocurriendo en cada etapa de su
                proceso. Esta retroalimentación debe ser significativa, relevante, clara y adaptada al contexto.
            </p>
            <div class="sectionSubtitle">4. Diálogo para notificar la conclusión</div>
            <p>
                Las secuencias de acciones necesitan tener un principio, medio y final. Una vez que una tarea sea
                completada, otorga un poco de tranquilidad a tu usuario proporcionándole comentarios
                informativos y opciones bien definidas para el siguiente paso, si ese es el caso.
            </p>
            <div class="sectionSubtitle">5. Manejo simple de errores</div>
            <p>
                Una buena interfaz debe estar diseñada para evitar errores tanto como sea posible. Pero cuando
                los errores ocurren, tu sistema necesita hacer que sea fácil para el usuario enternder el
                problema y saber cómo resolverlo. Las métodos para manejar los errores incluyen desplegar
                notificaciones de error claras junto a sugerencias descriptivas para resolver el problema.
            </p>
            <div class="sectionSubtitle">6. Reversión fácil de acciones</div>
            <p>
                Es un alivio instantáneo encontrar esa opción de "deshacer" después de cometer un error. Tus
                usuarios se sentirán menos ansiosos y será más probable que exploren opciones si saben que
                existe una forma fácil de revertir cualquier accidente.
            </p>
            <p>
                Esta regla se puede aplicar a cualquier acción, grupo de acciones o entrada de datos. Puede
                abarcar desde un simple botón hasta un historial completo de acciones.
            </p>
            <div class="sectionSubtitle">7. Punto de control interno</div>
            <p>
                Es importante proporcionar control y libertad a tus usuarios para que puedan sentir que están a
                cargo del sistema, y ​​no al revés. Evita sorpresas, interrupciones o cualquier cosa que no haya
                sido solicitada por los usuarios.
            </p>
            <div class="sectionSubtitle">8. Reducción de la carga de memoria a corto plazo</div>
            <p>
                Nuestra capacidad de atención es limitada y cualquier cosa que podamos hacer para facilitar el
                trabajo de nuestros usuarios, es mejor. Para nosotros es más fácil reconocer la información que
                recordarla. Aquí, podemos mencionar a uno de los principios de Nielsen que describen el
                "reconocimiento sobre el recuerdo". Si mantenemos nuestras interfaces simples y consistentes,
                obedeciendo a patrones, estándares y convenciones, ya estamos contribuyendo a un mejor
                reconocimiento y facilidad de uso.
            </p>
            <p>

                Hay varias características que podemos añadir para ayudar a nuestros usuarios según sus
                objetivos. Por ejemplo, en un entorno de comercio electrónico, una lista de artículos vistos
                recientemente o que hayan sido comprados.
            </p>
        </mat-card-content>
    </mat-card>
</div>