// Paleta de colores

//Colores neutro
$black: rgb(0, 0, 0);
$white: #fff;

//Paleta de color LOGYCA
$logyca-blue-light: #7ED4C3;
$logyca-blue-regular: #00B398;
$logyca-blue-dark: #00765B;
$logyca-orange-light: #FF895C;
$logyca-orange-regular: #FC4C02;
$logyca-orange-dark: #C82E00;
$logyca-grey-light: #E6E6E6;
$logyca-grey-regular: #51534A;
$logyca-grey-dark: #14150B;


// Grises

$grey-header: #E5E7E9;
$grey-backGround: #f3f3f3;

/*complementarios*/

$warn:#FC0234;
$warn-light:#F76A75;
$warn-dark:#D00017;
$success:#1CC200;
$success-light:#A1E196;
$success-dark:#007000;
$caution:#FCCA02;
$caution-light:#FDE07C;
$caution-dark:#FF8D00;
$info:#02B1FC;
$info-light:#B4E8FE;
$info-dark:#007EC5;

/* Silver */
$silver: #bdc3c7;
$silver-50: #f8f9f9;
$silver-100: #f2f3f4;
$silver-200: #e5e7e9;
$silver-300: #d7dbdd;
$silver-400: #cacfd2;
$silver-500: #bdc3c7;
$silver-600: #a6acaf;
$silver-700: #909497;
$silver-800: #797d7f;
$silver-900: #626567;

