<div class="wrap">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="icon_avatar">
                <mat-icon>{{cardHead.icon}}</mat-icon>
            </div>
            <mat-card-title>{{cardHead.title}}</mat-card-title>
            <mat-card-subtitle>{{cardHead.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <embed src="../../assets/docs/Buenas prácticas y código limpio BACKEND.pdf" type="application/pdf" width="100%" height="700px" />
        </mat-card-content>
    </mat-card>
</div>

